// TOP PROFILE
#profile-top {
  width: 90%;
  background-color: var(--green);
  color: white;
  padding: 20px 0 70px 0;
  margin: 70px auto 250px auto;
  position: relative;

  h2 {
    text-align: center;
  }

  #profile-top-counts {
    width: 60%;
    margin: 35px auto 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 1.05em;

    .profile-top-count-value {
      background-color: var(--grey);
      text-align: center;
      border-radius: 20px;
      padding: 6px 2px;
    }

    .profile-top-count-label {
      text-align: center;
      margin-top: -20px;
    }

  }

  img {
    position: absolute;
    width: 12%;
    object-fit: contain;
    border-radius: 50%;
    left: calc(50% - (12%/2));
    top: 140px;
    box-shadow: 0 0 10px var(--grey);
  }
}

// CONTENT PROFILE
#profile-content {
  width: 70%;
  margin: auto;

  #profile-content-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    .profile-content-nav-btn {
      font-size: 1.4em;
      margin-right: 20px;
      font-weight: bold;
    }

    .profile-content-nav-btn.active, .profile-content-nav-btn:hover {
      cursor: pointer;
      color: var(--green);
    }

  }

  .profile-content-menu {
    margin-top: 10px;
    border: solid var(--grey) 1px;
    padding: 10px 20px 20px 20px;
    margin-bottom: 80px;

    // INFORMATIONS
    h3 {
      opacity: 0.4;
    }

    h4 {
      text-decoration: underline;
      margin-bottom: 20px;
    }

    p {
      margin-top: -15px;
      font-weight: bold;

      span {
        color: var(--green);
      }
    }

    button:hover {
      cursor: pointer;
      background-color: var(--green);
      color: white;
    }

    #logout-btn {
      text-decoration: none;
      border: 1px solid;
      border-color: #ccc #ccc #bbb;
      border-radius: 3px;
      background: #e6e6e6;
      color: rgba(0, 0, 0, 0.8);
      line-height: 1;
      padding: 0.65em 1em 0.5em;
    }

    #logout-btn:hover {
      cursor: pointer;
      background-color: var(--green);
      color: white;
    }

    // EVENTS
    .event-block {
      width: 90%;
      margin: 0 auto 40px auto;

      display: flex;
      position: relative;

      .profile-top-img {
        width: 12%;
        object-fit: contain;
        margin-right: 15px;
      }

      .event-infos-title {
        font-size: 1.2em;
        margin-top: 20px;
      }

      .event-infos-date {
        opacity: 0.7;
      }

      button {
        position: absolute;
        right: 0;
        bottom: -35px;
      }

    }
  }
}